<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blood Sugar Tracker</title>
    <link rel="stylesheet" href="static/style/app.css">
</head>
<body>
    <div class="mainbody">
        <div class="header">
         Blood Sugar Level
        </div>
        <div class="charts">
            <div class="formadd">
                <label for="sugarlevel"> Enter the Sugar Level Value</label>    
                <input type="number" name="sugarlevel" id="sugarlevel">

                <label for="typeofsugarlevelrecord">Choose a Type:</label>
                <select id="typeofsugarlevelrecord" name="typeofsugarlevelrecord">
                  <option value="Post">Post Food</option>
                  <option value="Pre">Before Food</option>
                  <option value="Random">Random</option>
                </select>
                <input type="submit" onclick="submitSugarValue()">
            </div>
            <br>
            <div class="chartsdisplay" width="50px" height="50px">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>
    <script src="static/charts.js"></script> 
    <script src="static/app.js"></script>  
</body>

</html>